<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>682220574902-4pvuptmnh2p2gt28444rpmp3oeltq4c2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.682220574902-4pvuptmnh2p2gt28444rpmp3oeltq4c2</string>
	<key>API_KEY</key>
	<string>AIzaSyDrElk1gHHXfJpkNj0MXP5T7GFe1XP_EVI</string>
	<key>GCM_SENDER_ID</key>
	<string>682220574902</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.artempetrushenko.taskhub</string>
	<key>PROJECT_ID</key>
	<string>taskhub-2012d</string>
	<key>STORAGE_BUCKET</key>
	<string>taskhub-2012d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:682220574902:ios:d59318c37ada366ad1ee17</string>
</dict>
</plist>